<!doctype html>
<html lang="en">

<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <meta http-equiv="X-UA-Compatible" content="ie=edge">
     <script src="https://kit.fontawesome.com/a81368914c.js"></script>
     <link href="https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Poppins:wght@100;200;300;400;500;600;700&display=swap"
          rel="stylesheet">
     <link rel="stylesheet" href="https://erzacanz.github.io/simple/static/css/index.css">
     <title>KhrlMstfa</title>
     <link rel="icon" href="icons/favicon.ico" type="image/x-icon">
</head>

<body id="body" class="dark">
     <!-- <div class="wrapper">
          <div class="toggle">
               <input class="toggle-input" type="checkbox" />
               <div class="toggle-bg"></div>
               <div class="toggle-switch">
                    <div class="toggle-switch-figure"></div>
                    <div class="toggle-switch-figureAlt"></div>
               </div>
          </div>
     </div> -->
     <div class="modal">
          <img src="https://i.ibb.co/GCrVJPq/f7e31f84-d1a0-4977-8d65-2018ba5f0eeb.jpg" alt="img">
          <div class="close"></div>
     </div>

     <div id="container" class="container">
          <input type="checkbox" name="" id="check">
          <div class="card">
               <div class="sidebar" id="sidebar">
                    <ul>
                         
                         <li><a class="active" href="https://github.com/RullDev">My Bot</a></li>
                         <li><a class="active" href="https://bit.ly/3eggcxd">Website</a></li>
                         <li><a class="active" href="/docs">Rest Api</a></li>

                        
                    </ul>
               </div>
               <div class="header">
                    <label for="check" class="checkbtn" id="chkbtn">
                         <div class="hamburger-menu">
                              <div class="center"></div>
                         </div>
                    </label>
                    <a href="mailto: contact.khoirulmustofa767@gmail.com" class="mail">
                         <i class="far fa-envelope"></i>
                    </a>
                    <div class="main">
                         <div class="image">
                              <div class="hover">
                                   <i class="fas fa-camera fa-2x"></i>
                              </div>
                         </div>
                         <h3 class="name">KhrlMstfa</h3>
                         <h3 class="sub-name">@khoirul36_</h3>
                    </div>
               </div>

               <div class="content">
                    <div class="left">
                         <div class="about-container">
                              <h3 class="title">About</h3>
                              <p class="text">hi world introduce the name KhrlMstfa my hobby is watching anime and dialogue in Japanese and I also don't have any skills I can only MANGAN,TURU,NGODING,NGEMIM,REPEAT.</p>
                         </div>
                         <div class="icons-container">
                              <a href="https://github.com/RullDev" class="icon">
                                   <i class="fab fa-github"></i>
                              </a>
                              <a href="https://instagram.com/khoirul36_" class="icon">
                                   <i class="fab fa-instagram"></i>
                              </a>
                              <a href="https://wa.me/0" class="icon">
                                   <i class="fab fa-whatsapp"></i>
                              </a>
                              
                                                     
                         </div>
                         <div class="buttons-wrap">
                              <div class="follow-wrap">
                                   <a href="https://github.com/RullDev" class="follow">Follow</a>
                              </div>
                              <div class="share-wrap">
                                   <a href="/contact" class="share">Contact</a>
                              </div>
                         </div>
                    </div>
               </div>
          </div>
     </div>
     <script src="https://erzacanz.github.io/simple/static/js/app.js"></script>
     
     <script
  id="contactform"
  form_worker_url="https://mjvbzcontactme.tomsmater.workers.dev/"> </script>
   </body>

</html>
